img {
        left: 16vw;
        position: relative;
        width: 32vw;
}

#intro {
        left: 18vw;
        position: relative;
        width: 64vw;
}

#intro p {
        font-size: 24px;
        text-align: justify;
}