{% extends "template.html" %}

{% block title %}
        Lightning Maths - Login
{% endblock %}

{% block content %}
        <form action="/login" method="post">
                <div class="cont">
                        <input autocomplete="off" autofocus class="quarter-inp" name="username" placeholder="Username" required><br>
                        <input autocomplete="off" class="quarter-inp" name="password" placeholder="Password" required type="password">
                </div>
                <div class="cont"><input class="submit" type="submit" value="Log In"></div>
        </form>
{% endblock %}
