{% extends "template.html" %}

{% block title %}
        Lightning Maths - Statistics
{% endblock %}

{% block content %}
        <div class="cont">
                <h2 class="formhead">Your Stats</h2>
                <p>Average Accuracy: {{ avg_acc }}%</p>
                <p>Average Time Per Question: {{ avg_time }} seconds</p>

                <h2 class="formhead">Global Stats</h2>
                <p>Average Accuracy: {{ avg_acc_glob }}%</p>
                <p>Average Time Per Question: {{ avg_time_glob }} seconds</p>
        </div>
{% endblock %}
