{% extends "template.html" %}

{% block title %}
        Lightning Maths - Round Summary
{% endblock %}

{% block content %}
        <div class="cont">
                <h2 class="formhead">Score</h2>
                <p>You got {{ correct }} / {{ questions }} questions correct.</p>
                <p>That's {{ score }}% accuracy!</p>

                <h2 class="formhead">Time</h2>
                <p>Solving {{ questions }} questions took {{ minutes }}:{{ seconds }} minutes.</p>
                <p>Which is about {{ per }} seconds per question.</p>

                <h2 class="formhead">Next Steps</h2>
                <p>But, you can do better by practising the questions you got wrong. Press the button below to do that now.</p>
                <div class="cont">
                        <a href="/practise/practise?id={{ id }}&q_needed=[]&prev_a=0&justin=True">
                                <input class="submit" type="submit" value="Practise Incorrect Questions">
                        </a>
                </div>
        </div>
{% endblock %}
