{% extends "layout.html" %}

{% block title %}
    ATM (Cash Management)
{% endblock %}

{% block main %}
    <form action="/atm" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="action">
                <option disabled selected>Action</option>
                <option value="deposit">Deposit</option>
                <option value="withdraw">Withdraw</option>
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="amount" name="amount" placeholder="Amount (in dollars)" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Add/Subtract Cash</button>
    </form>
{% endblock %}