{% extends "template.html" %}

{% block title %}
        Lightning Maths - Home
{% endblock %}

{% block content %}
        <div class="cont">
                <a href="/practise">
                        <div class="big-butt">
                                <h1>Take a Test</h1>
                                <p>Practise simple operations (addition, subtraction, multiplication, division, exponentiation, etc.) Anything until college level maths.</p>
                        </div>
                </a>
                <a href="/stats">
                        <div class="big-butt">
                                <h1>View Statistics</h1>
                                <p>Look at your statistics and those of others around the world to see how you have improved compared to yourself and others.</p>
                        </div>
                </a>
        </div>
{% endblock %}
