{% extends "template.html" %}

{% block title %}
        Lightning Maths - Start Practise Round
{% endblock %}

{% block content %}
        <form action="/practise" method="post">
                <h2 class="formhead">Number of Questions</h2>
                <div class="cont">
                        <input class="quarter-inp" max="100" min="1" name="questions" placeholder="# of Questions" required type="number">
                </div>

                <h2 class="formhead">Question Types</h2>
                <div class="cont">
                        <select name="q_type" required style=" border: 1px solid gray; border-radius: 8px; font-size: 24px; height: 7vh; margin-bottom: 8px; margin-left: 7vw; margin-right: 7vw; margin-top: 8px; width: 19vw;">
                                <option disabled selected>Type</option>
                                <option value="addition">Addition (+)</option>
                                <option value="subtraction">Subtraction (-)</option>
                                <option value="multiplication">Multiplication (×)</option>
                                <option value="division">Division (÷)</option>
                                <option value="exponentiation">Exponentiation (^)</option>
                        </select>
                </div>

                <div class="cont"><input class="submit" type="submit" value="Start Round"></div>
        </form>
{% endblock %}
