{% extends "template.html" %}

{% block title %}
        Lightning Maths - Practise Round
{% endblock %}

{% block content %}
        <form action="/practise/round" method="post">
                <input type="hidden" value="{{ round }}" name="round">
                <input type="hidden" value="{{ id }}" name="id">
                <h2 class="formhead">Question:</h2>
                <p style="font-size: 24px; text-align: center;">
                        {{ latex }}
                </p>

                <h2 class="formhead">Input Answer</h2>
                <div class="cont">
                        <input class="quarter-inp" name="answer" placeholder="Answer" required type="number">
                </div>

                <div class="cont"><input class="submit" type="submit" value="Submit Answer & Next Question"></div>
        </form>
{% endblock %}
