{% extends "template.html" %}

{% block title %}
        Lightning Maths - Signup
{% endblock %}

{% block content %}
        <form action="/signup" method="post">
                <div class="cont">
                        <input autocomplete="off" autofocus class="quarter-inp" name="username" placeholder="Username" required><br>
                        <input autocomplete="off" class="quarter-inp" name="password" placeholder="Password" required type="password"><br>
                        <input autocomplete="off" class="quarter-inp" name="repeat" placeholder="Repeat password" required type="password">
                </div>
                <div class="cont"><input class="submit" type="submit" value="Sign Up"></div>
        </form>
{% endblock %}
