body {
        font-family: "San Francisco", "SF Pro", "PT Sans", "PT Sans Caption", "PT Sans Narrow", "Roboto", sans-serif;
        padding: 96px 0px 0px 0px;
}

p {
        font-size: 24px;
}

#intro h1 {
        font-size: 128px;
        text-align: center;
}

#topbar {
        background-color: #00f;
        height: 64px;
        left: 0px;
        line-height: 64px;
        overflow: hidden;
        position: fixed;
        top: 0px;
        width: 100vw;
        z-index: 10;
}

#topbar * {
        margin: 16px;
}

#topbar a {
        color: #0f0;
        font-size: 32px;
        padding: 16px;
        text-decoration: none;
}

#topbar a:hover {
        background-color: #0f0;
        color: #00f;
}